<!-- Knowledge Card -->
<div class="main-card card-knowledge" data-metrics="Literasi Finansial,Literasi Keuangan Digital">
    <div class="card-content">
        <h2>{{ data.knowledge_card.title }}</h2>
    </div>
    <div class="illustration light" id="lightbulb">
        <svg viewBox="0 0 100 100">
            <g id="bulb-base">
                <rect x="35" y="75" width="30" height="5" rx="2" fill="var(--illust-base)"/>
                <rect x="38" y="80" width="24" height="4" rx="2" fill="var(--illust-base)"/>
                <rect x="35" y="84" width="30" height="5" rx="2" fill="var(--illust-base)"/>
                <path d="M 40 89 H 60" stroke="var(--illust-base)" stroke-width="3" stroke-linecap="round"/>
            </g>
            <path id="bulb-glass" d="M50,0 C30,0 20,20 20,40 C20,65 35,75 50,75 C65,75 80,65 80,40 C80,20 70,0 50,0 Z" fill="var(--card1-illust-main)" stroke="var(--illust-stroke)" stroke-width="2" fill-opacity="0.2"/>
            <g id="bulb-filament" stroke="var(--illust-stroke)" stroke-width="2" stroke-linecap="round">
                <line x1="40" y1="75" x2="45" y2="55" />
                <line x1="60" y1="75" x2="55" y2="55" />
                <line x1="45" y1="55" x2="55" y2="55" />
            </g>
            <g id="bulb-rays" stroke="var(--illust-stroke)" stroke-width="2" stroke-linecap="round" opacity="0">
                <line x1="50" y1="-10" x2="50" y2="-20" />
                <line x1="75" y1="15" x2="85" y2="5" />
                <line x1="90" y1="40" x2="100" y2="40" />
                <line x1="25" y1="15" x2="15" y2="5" />
                <line x1="10" y1="40" x2="0" y2="40" />
            </g>
        </svg>
    </div>
    <div class="card-footer">
        <div class="card-footer-item">
            <div class="card-footer-label">
                <i class="fa-solid fa-book-open"></i>
                <span>Literasi Finansial</span>
            </div>
            <div class="card-footer-value" id="scoreLiterasiFin" data-score="{{ data.knowledge_card.score_literasi_finansial }}" data-original-score="{{ data.knowledge_card.score_literasi_finansial }}">{{ data.knowledge_card.score_literasi_finansial }}</div>
        </div>
        <div class="card-footer-item">
            <div class="card-footer-label">
                <i class="fa-solid fa-laptop"></i>
                <span>Literasi Keuangan Digital</span>
            </div>
            <div class="card-footer-value" id="scoreLiterasiDigital" data-score="{{ data.knowledge_card.score_literasi_digital }}" data-original-score="{{ data.knowledge_card.score_literasi_digital }}">{{ data.knowledge_card.score_literasi_digital }}</div>
        </div>
    </div>
    <div class="bg-shapes">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
    </div>
</div>