body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
}

.dashboard-window {
    width: 100%;
    /* max-width: 1600px;s 
    /* Increased from 1200px */
    /* margin: 0 auto; */
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    overflow: visible;
}