body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.dashboard-window {
    width: 100%;
    /* max-width: 1600px;s 
    /* Increased from 1200px */
    /* margin: 0 auto; */
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    overflow: visible;
}