.bg-shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.bg-shapes .shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
}