.main-card {
    padding: 24px;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-knowledge {
    background-color: var(--card1-bg);
}

.card-behavior {
    background-color: var(--card2-bg);
}

.card-wellbeing {
    background-color: var(--card4-bg);
}

.main-card h2 {
    font-size: 1.1rem;
    z-index: 9999;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-weight: 600;
    max-width: 75%;
    color: var(--white);
}

.main-card p {
    display: none;
}

.main-card>* {
    position: relative;
}