/* Import all modular stylesheets */
@import url('base/colors.css');
@import url('base/variables.css');
@import url('base/base.css');
@import url('layout/layout.css');
@import url('components/main-cards.css');
@import url('components/illustrations.css');
@import url('components/card-footer.css');
@import url('components/background-shapes.css');
@import url('components/small-cards.css');
@import url('../components/hero-section/hero-section.css');
@import url('../components/knowledge-card/knowledge-card.css');
@import url('../components/behavior-card/behavior-card.css');
@import url('../components/wellbeing-card/wellbeing-card.css');