/* Import all modular stylesheets */
@import url('base/colors.css');
@import url('base/variables.css');
@import url('base/base.css');
@import url('layout/layout.css');
@import url('components/header.css');
@import url('components/main-cards.css');
@import url('components/illustrations.css');
@import url('components/card-footer.css');
@import url('components/background-shapes.css');
@import url('components/small-cards.css');