.main-card {
    padding: 10px;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-card h2 {
    font-size: 0.9rem;
    z-index: 9999;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-weight: 600;
    max-width: 75%;
    color: var(--white);
}

.main-card p {
    display: none;
}

.main-card>* {
    position: relative;
}